body{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    background-color: pink;
}


h1{
    font-size:90px;
    text-align:center;
    padding-bottom:1px;
    padding-top:100px;
    letter-spacing: 0.3em;
    
}

p{
    text-align: center;
    padding:0 50px;
    font-size:13px;
    letter-spacing: 0.2em;
    padding-top:20px;
    color:grey;
}

#randomNumber{
    text-align:center;
    padding-top:60px;
    font-size:25px;
    letter-spacing: 0.2em;
    color:rgb(231, 114, 168);
}

#totalScore{
    text-align:center;
    padding-top:50px;
    font-size:25px;
    letter-spacing: 0.2em;
    color:rgb(231, 114, 168);

}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    
    display: inline-block;
    height:200px;
    width:220px;
   
}

#win{
    float:left;
    padding-left:500px;
    margin-top:1px;
    font-size:25px;
    letter-spacing: 0.09em;
    color:grey;
    
}

#lost{
    float:right;
    padding-right:500px;
    margin-top:1px;
    font-size:25px;
    letter-spacing: 0.09em;
    color:grey;
    
}

img{
    max-width: 220px;
   height: auto;
   
}

.star {
    animation: kirakira 8s linear;
    color:goldenrod;
    display: inline-block;
    height: 0.3em;
    line-height: 0.3em;
    position: fixed;
    top: -1em;
    z-index: 1000;
    opacity: 0.6;
    
}

@keyframes kirakira {
    0% {
        transform:translateY(0) rotateY(0);
    }
    100% {
        transform:translateY(calc(100vh + 1em)) rotateY(3600deg);
    }
}


